.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f2f2f2;
}

.header__logo {
    object-fit: contain;
}

.header__icon {
    padding: 20px;
}
